// Custom styles.
body {
    background:url(/resource/bg/59028960e8dab467551146bab9be984c.jpeg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
}
.main-inner {
    margin-top: 60px;
    padding: 30px;
    background: #fff;
    opacity: 0.9;
    min-height: 500px;
    +mobile() {
        margin-top: 0;
        opacity: 0.9;
    }
}
.header {
    opacity: 0.9;
}
.header-inner {
    opacity: 1;
    +mobile() {
      padding: 100px 0 125px;
    }
}
.post-button {
  margin-top: 20px;
}
